.maintitle {
    font-family: 'Playfair Display', serif;
    color: black;
    text-decoration: underline;
}
.cursive {
    font-family: 'Playfair Display', serif;
    color: crimson;
}
.container {
    font-family: 'Raleway', sans-serif;
    color: black;
}
.title {
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
    color: rgb(187, 15, 50);
}

.footer {
    font-family: 'Playfair Display', serif;
    color: black;
}
a {
    color: black;
}
.sorted {
    color: black;
}