.title {
    font-family: 'Amiri', serif;
    background-color: crimson;
}
.container-fluid {
    font-family: 'Open Sans', sans-serif;
}
.title2 {
    font-family: 'Open Sans', sans-serif;
}
.main-title{
    color: crimson;
    font-family: 'Open Sans', sans-serif;
    font-size: x-large;
    
}