.title {
    font-family: 'Playfair Display', serif;
    text-decoration: underline;
}

.container {
    font-family: 'Open Sans', sans-serif;
}

.words {
    font-family: 'Open Sans', sans-serif;
}

.card {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}