{% extends 'base.html' %}


<!--Styles block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="col-md-4">
      <a href="/"><img src="https://banner2.cleanpng.com/20180327/ghe/kisspng-united-kingdom-logo-breaking-news-politics-5ab9dd250a4e36.1787637515221302130422.jpg" width="200" height="200"></a>
    </div>
    <div class="col-md-8">
      <h1 class="main-title"><strong>News-Articles</strong></h1>
      <h6><small>News-Articles curates the world's stories so you can focus on investing in yourself, staying informed, and getting involved. </small></h6>
    </div>
  </div>
</div>

<div class="row">
  
    <a href="/"><img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln"></a>
  
    
{% endblock %}