{% extends 'base.html' %}


<!--Styles block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Amiri:wght@700&family=Open+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container">
  
    <a href="/"><img src="https://assets.prestashop2.com/sites/default/files/styles/blog_750x320/public/blog/2019/10/banner_error_404.jpg?itok=eAS4swln"></a>
  
</div>
{% endblock %}