{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--Styles block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap" rel="stylesheet">
{% endblock %}
<!--Content block-->
{% block content%}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <a href="/"><img src="https://webstockreview.net/images/clipart-sleeping-snooze-18.png" width="150" height="150"></a>
        </div>
        <div class="col-md-6 text-left">
          <h1 class="maintitle">News-Articles</h1>
          <h6 class="cursive" >~ We curate the world's stories so you can focus on investing in yourself, staying informed, and getting involved. ~</h6>
        </div>
        <div class="col-md-4 text-right">
          <form>
            <label>Sort By:</label>
            <select name="sortBy_query" class="form-control">
              <option value=""></option>
              <option value="Category">Category</option>
              <option value="Language">Language</option>
            </select>
            <br><br>
            <button type="submit" class="btn btn-default" >Sort</button>
          </form>
        </div>
      </div>
    </div>
    
    <!--Top headlines section-->
    {% if sort_type == 'Language' %}
      <div class="row">
        <div class="col-md-12">
          {% for Language in Languages %}
            {{macro.displayLanguage(Language)}}
          <ul>
          {{macro.displaySourceList(Language)}}
          </ul>
          {% endfor %}
        </div>
      </div>

    {% elif sort_type == 'Category' %}
      <div class="row">
        <div class="col-md-12">
          {% for Category in Categories %}
            <div class="sorted">
              {{macro.displayCategory(Category)}}
            </div>
          <ul>
          {{macro.displaySourceList(Category)}}
          </ul>
          {% endfor %}
        </div>
      </div>

    {% else %}
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <h2 class="title"><strong>TODAY'S HEADLINES</strong></h2>
            <a href="#sources"><h5>View News Sources</h5></a>
          </div>
          <br>
          <ul >
            {{macro.displayTopHeadlines(headlines)}}
          </ul>
          <br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div  id="sources">
            <br>
            <h2 class="title text-center">TOP NEWS SOURCES</h2>
            <br>
            <hr>
            <ul >
                {{macro.displaySourceList(sources)}}
            </ul>
          </div>
        </div>
      </div>
    {% endif %}

    <br><br>
    <div class="footer text-center">
      <a href="https://newsapi.org/"><h3>Powered by NewsAPI</h3></a> 
    </div>
    <br><br>

  </div>
{% endblock %}

