

{% macro displaySourceList(source_list) %}

    {% for source in source_list %}
      <div class="card col-sm-12 col-md-6 text-center">
        <div class="card-header"><h4>{{ source.name }}</h4></div>
        <hr>
        <div class="card-body">
          <h5>{{ source.description }}</h5>
          <hr>
          <a href={{ source.url }}><button type="button" class="btn btn-primary"> Visit Website</button></a>
          <a href="/source/{{ source.id }}"><button type="button" class="btn btn-secondary">  Explore Articles</button></a>
        </div>
      </div>
      
    {% endfor %}

{% endmacro %}

{% macro displayNewsArticles(source_articles) %}
  {% for article in source_articles %}
      <div>
        <div class="card col-sm-12 col-md-6 text-center text-center">
          <h5> <strong>Author: </strong> {{article.author}}</h5>
          <h4> <strong>Title:</strong> {{article.title}}</h4>
          <p> <strong>Description:</strong> {{article.description}}</p>
          <h5> <strong>Published on:</strong> {{article.publishedAt | truncate(13, False, '   ')}}</h5>
          <p>{{article.content | truncate(264, False, '  ')}}</p>
          <a href={{article.url}}><button type="button" class="btn btn-primary"> Continue Reading </button></a>
        </div>
      </div>
      <br>
  {% endfor %}
{% endmacro %}

{% macro displayCategory(all_news_sources) %}
  {% for source in all_news_sources %}
    {% if source == all_news_sources[0] %}
      <h3> {{ source.category | capitalize | center}} News</h3>
    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro displayLanguage(all_news_sources) %}
  {% for source in all_news_sources %}
    {% if source == all_news_sources[0] %}
      <h3> {{ source.language | capitalize | center}} Language News</h3>
      <hr>
    {% endif %}
  {% endfor %}
{% endmacro %}