{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!--Styles block-->
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway&display=swap" rel="stylesheet">
{% endblock %}
<!--Content block-->
{% block content%}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-2">
          <a href="/"><img src="https://webstockreview.net/images/clipart-sleeping-snooze-18.png" width="150" height="150"></a>
        </div>
        <div class="col-md-6 text-left">
          <h1 class="maintitle">News-Articles</h1>
          <h6 class="cursive" >~ We curate the world's stories so you can focus on investing in yourself, staying informed, and getting involved. ~</h6>
        </div>
      </div>
    </div>
    <!--Top articles section-->
    <div class="row">
      <div class="col-md-12">
        <h2 class="title text-center"><strong>Top Featured Articles</strong></h2>
        <br>
        <ul>
          {{macro.displayNewsArticles(articles)}}
        </ul>
        <br>
      </div>
    </div>

    <br><br>
    <div class="footer text-center">
      <a href="https://newsapi.org/"><h3>Powered by NewsAPI</h3></a> 
    </div>
    <br><br>
  </div>

{% endblock %}